:root {
  --bg-dark: #030303;
  --black: #000000;
  --dark-red: #710707;
  --text-highlight: #caaa7d;
  --font-gold: #9d8665;
  --slider-accent: #D2B183;
  --white: #ffffff;
  --heading1: 80px;
  --heading2: 32px;
  --font3: 28px;
  --font4: 18px;
  --margin-b: 75px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing */
*,
**::before, 
**::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h2,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

/* Set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Remove animations for whom turned off */
@media (prefers-reduced-motion: reduce) {
  *,
  **::before, 
  **::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* General styles      */
/* ------------------- */
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* ------------------- */
/* Elements style      */
/* ------------------- */