:root {
  --bg-dark: #030303;
  --black: #000000;
  --dark-red: #710707;
  --text-highlight: #caaa7d;
  --font-gold: #9d8665;
  --slider-accent: #D2B183;
  --white: #ffffff;
  --heading1: 80px;
  --heading2: 32px;
  --font3: 28px;
  --font4: 18px;
  --margin-b: 75px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1440px;
  max-width: 1440px;
}

.header {
  background-color: var(--bg-dark);
}

.header__menu {
  color: var(--white);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo__text {
  font-family: "Forum", serif;
  letter-spacing: 5px;
  font-size: 28px;
  line-height: 50px;
  text-transform: uppercase;
  margin-left: 20px;
  color: var(--white);
}

.menu__list {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  font-size: 22px;
  font-weight: 100;
  line-height: 50px;
  padding: 10px;
}

.menu__link {
  color: var(--white);
}
